## Python Crash Course

Data Types

In [1]:
2 * 3

6

In [2]:
2 ** 4

16

In [3]:
name = "David"
age = 12
print("My name is {}. I'm {} years old".format(name, age))

My name is David. I'm 12 years old

# Lists

In [4]:
[10, 2, 45]

[10, 2, 45]

In [5]:
my_list = ['shoe', 'clothes', 'food']

In [6]:
my_list.append('Money')

In [25]:
my_list.pop()

'Laptop'

In [30]:
for i in my_list:
    print(i)

Car
shoe
clothes
food
Money
Laptop

In [29]:
my_list[0:]

['Car', 'shoe', 'clothes', 'food', 'Money', 'Laptop']

In [36]:
scores = [21, 32, 11, 23, 44]
sum = 0
for i in scores:
    #sum = sum + i
    print(i)
scores[0:3]

21
32
11
23
44

[21, 32, 11]

In [41]:
nested_list = [2, 3, [32, 54, ['John', 'Samuel']], [12, 56]]
nested_list[2][2][0]

'John'

# Dictionaries

In [43]:
dict = {
            'name': 'Umar',
            'score': 78,
            'grade': 'A'
        }
print(dict['grade'])

A

In [46]:
dict.values()

dict_values(['Umar', 78, 'A'])

In [47]:
dict.keys()

dict_keys(['name', 'score', 'grade'])

## Boolean

In [50]:
False

False

In [51]:
True

True

## Tuple

In [54]:
## you cannot manipulate tuple
t = (2, 4, 6)

In [53]:
t[1]

4

## Sets

In [55]:
# set is used to remove duplicate values
{1, 3, 5}

{1, 3, 5}

In [56]:
{1, 2, 1, 4, 2, 4, 3, 6, 5, 3, 1, 4, 2}

{1, 2, 3, 4, 5, 6}

In [57]:
## converting a list to set
l = [1, 3, 4, 2, 1, 4, 2, 4, 6, 8, 6, 1, 5, 5, 5, 5, 3, 5]
l

[1, 3, 4, 2, 1, 4, 2, 4, 6, 8, 6, 1, 5, 5, 5, 5, 3, 5]

In [58]:
set(l)

{1, 2, 3, 4, 5, 6, 8}

## Comparison Operators

In [59]:
1 <= 1

True

In [60]:
'hi' == 'hey'

False

In [62]:
'Hi' == 'hi'

False

## Logical Operator

In [64]:
(1 > 2) and (2 < 3)

False

In [66]:
(1 > 2) or (2 < 3)

True

In [72]:
not (10 > 1)

False

## if, elif, else Statement

In [74]:
if 1 > 2:
    print('Yes')
else:
    print('No')

No

In [78]:
if 2 > 3:
    print("Not OK")
elif 3 == 2:
    print("I'm OK")
else:
    print("Oh")

Oh

## For Loop

In [80]:
items = [1, 2, 5, 12, 43]
for item in items:
    print(item)

1
2
5
12
43

In [88]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

## while loop

In [91]:
i = 1
while i < 5:
    i += 1
    print("Hi")

Hi
Hi
Hi
Hi

## range()

In [92]:
range(10)

range(0, 10)

In [93]:
dist = range(2, 23)
for i in dist:
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [94]:
list(range(2))

[0, 1]

## list comprehension

In [95]:
x = [2, 4, 1, 6, 7]
out = []
for i in x:
    out.append(i**2)
print(out)

[4, 16, 1, 36, 49]

In [96]:
[i**2 for i in x]

[4, 16, 1, 36, 49]

## functions