## Missing Values

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
# it is only for jupyter notebooks when using plt.show()

In [3]:
df = pd.DataFrame({'A': [1, 2, np.nan], 'B': [5, np.nan, np.nan], 'C': [1, 2, 3]})

In [4]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [6]:
df.isnull().sum()

A    1
B    2
C    0
dtype: int64

In [7]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [8]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [12]:
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [13]:
df.fillna(value="0.0")

     A    B  C
0    1    5  1
1    2  0.0  2
2  0.0  0.0  3

## Groupby

In [14]:
df.groupby('A')

In [16]:
df = pd.DataFrame({'Company': [2, 4, 6, 7], 'Name': ['David', 'John', 'Kunle', 'Tope']})

In [17]:
df

   Company   Name
0        2  David
1        4   John
2        6  Kunle
3        7   Tope

In [21]:
by_comp = df.groupby('Company')

In [22]:
by_comp

## Matplotlib

it is a 2d plotting library

In [ ]:
x = np.linespace(0, 5, 10)
y =